.container {
  grid-template-rows: auto auto;
  @apply w-full grid;
  position: fixed;
  top: 0;
  z-index: 10;
}

.projectsSubHidden {
  display: none;
}

.projectsSub {
  @apply flex flex-col ml-2 absolute top-24 sm:top-24 bg-white;
}
